body {
	margin: 20px;
}
h1, h2 {
	font-family: "trebuchet ms", helvetica, sans-serif;
	margin: 0px;
}
h1 {
	font-size: 20pt;
	border-bottom: 1px solid #888;
	margin-bottom: 20px;
}
h2 {
	font-size: 16pt;
	margin-bottom: 10px;
}

#mirror-status table,
#mirror-size table {
	font-family: verdana, helvetica, sans-serif;
	font-size: 10pt;
}

#mirror-status table th,
#mirror-size table th {
	padding: 2px 20px;
}
#mirror-status table td {
	padding: 5px 20px 5px 10px;
	text-align: center;
}
#mirror-size table td {
	padding: 5px 20px 5px 10px;
	text-align: right;
}
#mirror-status table tr td.date {
	font-size: 8pt;
	padding: 2px 20px;
}
#mirror-status table td.name,
#mirror-size table td.name {
	padding-right: 50px;
	text-align: left;
}
#mirror-status table td.age {
	text-align: left;
}
#mirror-status table tr th,
#mirror-size table tr th {
	background: #ccc;
}
#mirror-status table,
#mirror-size table {
	border-collapse: collapse;
}
#mirror-status table td, #mirror-status table th,
#mirror-size table th {
	border: 1px solid #888;
	border-width: 1px 0 1px 0;
}
#mirror-status table .name, #mirror-status table .status {
	border-right: 1px dotted #888;
}
#mirror-status td.unknown {
	background: #ddd;
}
#mirror-status td.inprogress {
	background: #afa;
}
#mirror-status td.fail {
	background: #faa;
}
#mirror-status td.never {
	background: #faa;
}
#mirror-status td.old {
	background: #ffa;
}
#mirror-status td.outdated {
	background: #faa;
}


#footer {
	border-top: 1px solid #888;
	margin-top: 50px;
	font-size: 10pt;
	font-family: verdana, helvetica, sans-serif;
	height: 20px;
}
#generated {
	float: left;
	margin: 0px;
}
#sedot {
	float: right;
	margin: 0px;
}


